.tex linguist-language=c++
.aux linguist-language=c++
.bbl linguist-language=c++
.blg linguist-language=c++
.brf linguist-language=c++
.log linguist-language=c++
.out linguist-language=c++
.gz linguist-language=c++
.toc linguist-language=c++